{% extends 'index/index.html' %}

{% block Bloque_Navegador %}
    <a class="navbar-brand" href="#!">Mi Plantilla</a>
{% endblock   %} 

{% block Bloque_Head %}
                                
<h1 class="fw-bolder">Bienvenidos </h1>
<p class="lead mb-0"> Aprendiendo a ser mama...</p> 
 
{% endblock  %}

    {% block Bloque_plantilla %}

    {% endblock   %}

    {% block  PruebaTemplate %}

        Excelente!!!! Es muy facil crear plantillas.

        <p style="color: coral; " > Mi nombre es {{nombre}} </p>

        <p style="color: greenyellow; " > Mi apellido es {{apellido}} </p>

        
        {% if nombre_largo <= 5 %}

            <p style="color: coral; " > Mi nombre es {{nombre}} </p>
            <p style="color: greenyellow; " > Mi apellido es {{apellido}} </p>
            
        {% endif %}
            
    
    {% endblock  %}
