{% extends 'index/index.html' %}

    {% block Bloque_Head %}
        <h1 class="fw-bolder">Bienvenidos</h1>
    {% endblock   %}

    {% block  PruebaTemplate %}

        Excelente!!!! Es muy facil crear plantillas.

        <p style="color: coral; " > Mi nombre es {{nombre}} </p>

        <p style="color: greenyellow; " > Mi apellido es {{apellido}} </p>

        
        {% if nombre_largo <= 5 %}

            <p style="color: coral; " > Mi nombre es {{nombre}} </p>
            <p style="color: greenyellow; " > Mi apellido es {{apellido}} </p>
            
        {% endif %}
            
    
    {% endblock  %}
